In [114]:
import pandas as pd
import seaborn as sn
from datetime import datetime
import numpy as np

In [106]:
data_1 = pd.read_excel('../Data/Data 1/data.xlsx', sheet_name = 'Sheet2')
data_2 = pd.read_csv('../Data/Data 3/data_PIB.csv', skiprows=6, header=None)

data_1 = data_1[['location', 'date', 'total_cases', 'total_deaths', 'human_development_index', 'population', 'stringency_index']]
data_1.columns = ['COUNTRY', 'DATE', 'TC', 'TD', 'HDI', 'POP', 'STI']
data_1 = data_1[data_1.COUNTRY == 'France']
data_1['DATE'] = pd.to_datetime(data_1['DATE'])
data_1['Quarter'] = data_1['DATE']
data_1['Quarter'] = pd.PeriodIndex(data_1['Quarter'], freq='Q')
#data_1 = data_1[data_1.Quarter.isin(pd.PeriodIndex(['2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
#       '2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4'], freq='Q'))]
data_1.drop(['COUNTRY', 'DATE'], axis=1, inplace=True)

data_2.drop([2], axis=1, inplace=True)
data_2 = data_2[data_2[0] >= '2020Q1']
data_2.rename(
    columns={0: "Quarter", 1: "PBI_var"},
    inplace=True,
)
data_2.sort_values(by='Quarter', ascending=True, inplace=True)
data_2['Quarter'] = pd.PeriodIndex(data_2['Quarter'], freq='Q')

#data_1.head(5)
#data_2.head(5)

In [107]:
print("data_1 columns : ", data_1.columns)
print('####################################################"')
print("data_2 columns : ", data_2.columns)

#data_1.head(5)
#data_2.head(5)

data_1 columns :  Index(['TC', 'TD', 'HDI', 'POP', 'STI', 'Quarter'], dtype='object')
####################################################"
data_2 columns :  Index(['Quarter', 'PBI_var'], dtype='object')

In [127]:
data = data_1.merge(data_2, on='Quarter', how='outer')
data = data.fillna(0)
data.head(5)

    TC   TD    HDI         POP  STI Quarter  PBI_var
0  0.0  0.0  0.901  65273512.0  0.0  2019Q4      0.0
1  0.0  0.0  0.901  65273512.0  0.0  2020Q1     -5.1
2  0.0  0.0  0.901  65273512.0  0.0  2020Q1     -5.1
3  0.0  0.0  0.901  65273512.0  0.0  2020Q1     -5.1
4  0.0  0.0  0.901  65273512.0  0.0  2020Q1     -5.1

In [128]:
data.Quarter.unique().value_counts()

2019Q4    1
2020Q1    1
2020Q2    1
2020Q3    1
2020Q4    1
2021Q1    1
2021Q2    1
2021Q3    1
2021Q4    1
2022Q1    1
2022Q2    1
2022Q3    1
2022Q4    1
Freq: Q-DEC, dtype: int64

In [132]:
data_monthly = data.groupby('Quarter').agg({
                            'TC' : 'sum',
                            'TD' : 'sum',
                            'POP' : 'sum',
                            'HDI' : 'mean',
                            'STI' : 'mean',
                            'PBI_var' : 'mean'
}).reset_index()

In [133]:
data_monthly

   Quarter          TC         TD           POP    HDI        STI  PBI_var
0   2019Q4         0.0        0.0  6.527351e+07  0.901   0.000000      0.0
1   2020Q1    355511.0    18098.0  5.939890e+09  0.901  28.729011     -5.1
2   2020Q2  12028471.0  2187016.0  5.939890e+09  0.901  75.231538    -18.6
3   2020Q3  24326158.0  2808006.0  6.005163e+09  0.901  41.355543     -3.6
4   2020Q4  13374195.0   620324.0  1.240197e+09  0.901  22.149474     -4.2
5   2021Q1         0.0        0.0  0.000000e+00  0.000   0.000000      1.5
6   2021Q2         0.0        0.0  0.000000e+00  0.000   0.000000     18.7
7   2021Q3         0.0        0.0  0.000000e+00  0.000   0.000000      3.6
8   2021Q4         0.0        0.0  0.000000e+00  0.000   0.000000      5.1
9   2022Q1         0.0        0.0  0.000000e+00  0.000   0.000000      4.8
10  2022Q2         0.0        0.0  0.000000e+00  0.000   0.000000      4.2
11  2022Q3         0.0        0.0  0.000000e+00  0.000   0.000000      1.0
12  2022Q4         0.0        0.0  0.000000e+00  0.000   0.000000      0.5

In [134]:
data_monthly.Quarter

0     2019Q4
1     2020Q1
2     2020Q2
3     2020Q3
4     2020Q4
5     2021Q1
6     2021Q2
7     2021Q3
8     2021Q4
9     2022Q1
10    2022Q2
11    2022Q3
12    2022Q4
Name: Quarter, dtype: period[Q-DEC]