In [2]:
from math import *
import pandas as pd

In [36]:
Taux_de_croissance_Amerique_du_nord = pd.read_csv('.\GDP_growth_Amerique_du_nord\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)

In [37]:
Taux_de_croissance_Afrique_sub_sahara = pd.read_csv('.\GDP_growth_Amerique_du_nord\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Asie_Est = pd.read_csv('.\GDP_growth_Asia_Est\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Asie_Sud = pd.read_csv('.\GDP_growth_Asia_South\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_croissance_Moyen_orient_Afrique_Nord = pd.read_csv('.\GDP_growth_Moyen_orient_afrique_du_nord\API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_5179002.csv', sep=',', skiprows=4)
Taux_de_chomage_Asie_Sud = pd.read_csv('.\Taux_de_chomage_Asie_du_sud\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
Taux_de_chomage_Amerique_du_nord = pd.read_csv('.\Taux_de_chomage_Amerique_du_nord\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
Taux_de_chomage_Amerique_du_sud = pd.read_csv('.\Taux_de_chomage_Amerique_du_sud\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_5180900.csv', sep=',', skiprows=4)
IDE_Amerique_du_nord = pd.read_csv('.\IDE_Amerique_du_nord\API_BX.KLT.DINV.WD.GD.ZS_DS2_en_csv_v2_5179098.csv', sep=',', skiprows=4)
IDE_sub_sahara = pd.read_csv('.\IDE_sub_sahara\API_BX.KLT.DINV.WD.GD.ZS_DS2_en_csv_v2_5179098.csv', sep=',', skiprows=4)
Inflation_Amerique_du_nord = pd.read_csv('.\Inflation_Amerique_du_nord\API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_5180386.csv', sep=',', skiprows=4)

In [80]:
Stringency_Index = pd.read_csv('owid_covid_data.csv', sep=',')
Stringency_Index

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295830,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295831,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295832,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295833,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295834,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [83]:
Stringency_Index.groupby(['location'])['stringency_index'].mean()

location
Afghanistan       27.929730
Africa                  NaN
Albania           42.598316
Algeria           52.924298
American Samoa          NaN
                    ...
Western Sahara          NaN
World                   NaN
Yemen             26.846260
Zambia            30.283405
Zimbabwe          59.403005
Name: stringency_index, Length: 255, dtype: float64

In [90]:
type(Stringency_Index[['stringency_index']])
Stringency_Index.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [45]:
Taux_de_croissance_Afrique_sub_sahara['Country Name'].describe()

count       266
unique      266
top       Aruba
freq          1
Name: Country Name, dtype: object

In [46]:
Taux_de_croissance_Afrique_sub_sahara['Country Name'].value_counts(dropna=False)

Aruba                   1
Oman                    1
Malawi                  1
Malaysia                1
North America           1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: Country Name, Length: 266, dtype: int64

In [70]:
Taux_de_croissance_Afrique_sub_sahara['2019'].describe(percentiles=[0.1, 0.9])

count    252.000000
mean       2.780237
std        3.194262
min      -11.195695
10%       -0.195627
50%        2.558767
90%        5.798392
max       23.513791
Name: 2019, dtype: float64